.col-xl-4{
  box-sizing: border-box;
  width: 30%;
  float: left;
  border: 1px solid black;
  margin: 1.66%;
  padding: 5px;
  position: relative;
}

.col-md-6{
  box-sizing: border-box;
  width: 50%;
  float: left;
  border: 1px solid black;
  margin: 1.66%;
  padding: 5px;
  position: relative;
}

.col-md-12{
  box-sizing: border-box;
  width: 100%;
  float: left;
  border: 1px solid black;
  margin: 1.66%;
  padding: 5px;
  position: relative;
}

h1{
  text-align: center;
}

.col-xl-4 p{
  margin-top: 30px;
}

#main-content .title{
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  font-size: 1.5em;
  width: 33.3%;
  text-align: center; 
}

@media(min-width:992px){
  .col-xl-4{
    box-sizing: border-box;
    width: 30%;
    float: left;
    border: 1px solid black;
    margin: 1.66%;
    padding: 5px;
    position: relative;
  }
}

@media(min-width:768px) and (max-width:991px){
  .col-md-6{
    box-sizing: border-box;
    width: 45%;
    float: left;
    border: 1px solid black;
    margin: 2.5%;
    padding: 5px;
    position: relative;
  }
  
  .col-md-12{
    box-sizing: border-box;
    width: 95%;
    border: 1px solid black;
    margin: 2.5%;
    padding: 5px;
    position: relative;
  }
}

@media(max-width:767px){
  .col-sm-12{
    box-sizing: border-box;
    width: 100%;
    float: left;
    border: 1px solid black;
    padding: 5px;
    position: relative;
  }
}
